{% extends 'base-admin.html' %}

{% block navigator %}
        {{block.super}}
        > <a href={% url admin_list_tracks %}>traks </a>
{% endblock navigator %}

{% block content %}
<table class="campaign-change">
  <thead>
    <tr>
      <th>
	<input type="checkbox" name="action-all">
      </th>
      <th>Id</th>
      <th>Owner</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for T in tracks %}
    <tr>
      <th>
	<input type="checkbox" name="action" value="{{T.id}}">
      </th>
      <th>{{T.id}}</th>
      <th>{{T.owner}}</th>
      <th>{{T.name}}</th>
      <th>{{T.type}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal-footer footer" style="margin-top:30px">
  <a id="btn-delete" class="btn btn-danger" href="{% url admin_delete_objects 'track' %}" title="delete all tracks">delete</a>
  <a id="btn-delete-seleted" href="javascript:;" class="btn btn-danger" title="delete selected tracks">delete selected</a>
</div>

{% endblock content %}

