.popup-form {
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width:400px;

    display: none;
    position: fixed;
    z-index: 999;
    top:185px;
    left:25%;
    background-color: #D6EFFF;
    border: 2px solid #8AD0FF;
}

.popup-form>p>label  {
    display: inline-block;
    margin-left: 2%;
    float:left;
    width: 25%;
}

.popup-form>p>input, .popup-form>p>textarea, .popup-form>p>select{
    width: 70%;
    border: 1px solid #8AD0FF;
    border-radius: 3px;
    background-color: #FFF;
}
.popup-form>p>textarea{
    height:50px;
}

.popup-form>p {
    margin-top:5px;
}

.btn {
    background-color: #3A87AD;
    border: 2px solid #257499;
    border-radius: 3px 3px 3px 3px;
    color: #EEE !important;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}

.btn:hover {
    text-decoration:none;
}

.right {
    float:right;
}

.clear {
    clear:both;
}

.error {
    color:red;
}

.form-popup-close { 
    background: none repeat scroll 0 0 transparent;
    color: #444444 !important;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
    z-index: 998;
}
.form-popup-close:hover {
    text-decoration:none;
}