input, select, textarea, button { font-family: Verdana, Geneva, sans-serif; font-size:10px; color:#636363; }
fieldset { border:none;}

.form input[type="text"], .form input[type="password"], .form select, .form textarea { border:1px solid #c9c9c9;}
.form input[type="text"], .form input[type="password"], .form select {height:19px;}
.form select, .form input[type="submit"], .form input[type="button"], .form button {height:21px;}
.form input[type="text"], .form input[type="password"] {padding:0 2px;}
.form input, .form select, .form button {vertical-align:middle;}
.form input[type="button"], .form button { color:#636363;}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{ border:0px; } 
input[type="text"], input[type="password"], textarea, select { outline: none; }


.form {}
.form .row { padding-bottom:15px;}
.form .row label { display:block; color:#7f7f7f; font-size:10px; padding-bottom:5px;}
.form .row .col { float:left; margin-right:18px;}
.form .row .btn { overflow:visible; border:1px solid #d0d0d0; cursor:pointer; padding:0 9px 0;
background: #fdfdfd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* IE10+ */
background: linear-gradient(top,  #fdfdfd 0%,#ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */}
.form .row select {width:160px;}
.form .chkbx {}
.form .chkbx label {display:inline; padding:0; margin-right:21px;}



/*__dimensions__*/

