<div class="mask"></div>

<div id="form_add_track" class="popup-form">
  <a class="form-popup-close" href="javascript:close_form_add_track(false);">x</a>
  <p>
    <label for="id_email">Email:</label>
    <input id="id_email" type="text" maxlength="64" name="email" value="{{user.email}}" disabled="" style="background-color:lightYellow">
  </p>
  {{form.as_p}}
  <hr/>
  <a id="add-btn-track-form" class="btn right" href="javascript:btn_add_track();">Азначыць маршрут на карце</a>
  <a id="ok-btn-save" class="btn right" style="display:none" href="javascript:close_form_add_track(true);">Захаваць</a>
  <div class="clear"></div>
</div>
<a id="btn-show-add" class="btn" href="javascript:show_form_add_track();">Дадаць маршрут</a>
<div class="clear" style="margin-top:10px;"></div>

<div id="form_add_point" class="popup-form">
  <a class="form-popup-close" href="javascript:close_form_add_point(false);">x</a>
  <p>
    <label for="id_point-email">Email:</label>
    <input id="id_point-email" type="text" maxlength="64" name="point-email" value="{{user.email}}" disabled="" style="background-color:lightYellow">
  </p>
  {{form_point.as_p}}
  <hr/>
  <a id="add-btn-point-form" class="btn right" href="javascript:btn_add_point();">Азначыць пункт на карце</a>
  <a id="ok-btn-point-save" class="btn right" style="display:none" href="javascript:close_form_add_point(true);">Захаваць</a>
  <div class="clear"></div>
</div>
<a id="btn-point-show-add" class="btn" href="javascript:show_form_add_point();">Дадаць пункт</a>
<div class="clear" style="margin-top:10px;"></div>

<script type="text/javaScript" src="/static/js/map.js"></script>


