<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Rovar 34Mag | admin{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/account.css" rel="stylesheet" type="text/css">
    <link href="/static/css/leaflet.css" rel="stylesheet" type="text/css">
    <script type="text/javaScript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javaScript" src="/static/js/admin-actions.js"></script>
  </head>
  <body>
    <div class="wrapper">
      {% block header %}
      {% include "html/layout/header.html" %}
      {% endblock %}
      
      <div class="content">
	{% block content %}
	{% endblock content %}
      </div>

    </div>
  </body>
</html>
