<div class="blog">
    <h4 class="head"><span>БЛОГ</span></h4>
    <div class="clear"></div>

    {% for P in posts %}
    <div class="container containerSide clearfix">
        <div class="side"> <a href="#"><img src="../static/pictures/_tmp4.jpg" width="150" height="100" alt="pic"></a>
            <p><a href="#">Danila Berencef</a> | <a href="#" class="comments">12</a></p>
        </div>
        <div class="col">
            <h3><a href="#">{{P.shor_name}}</a></h3>
            <h4>{{P.name}}</h4>
            <p><a href="#">{{P.text}}</a></p>
        </div>
    </div>
    {% endfor %}
    <div class="clear"></div>
    <div class="paginator">
        <ul class="clearfix">
            <li class="first"><a href="#"></a></li>
            <li class="prev"><a href="#"></a></li>
            <li><a href="#">1</a></li>
            <li class="cur"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li class="mid"><a href="#">...</a></li>
            <li class="next"><a href="#"></a></li>
            <li class="last"><a href="#"></a></li>
        </ul>
    </div>
</div>
