<div class="form">
    <div class="row clearfix">
        <div class="col">
            <label for="jumpFrom">АДКУЛЬ:</label>
            <select name="jumpFrom" id="jumpFrom">
                <option>item1</option>
                <option>item2</option>
            </select>
        </div>
        <div class="col">
            <label for="jumpWhere">КУДЫ:</label>
            <select name="jumpWhere" id="jumpWhere">
                <option>item1</option>
                <option>item2</option>
            </select>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <input name="" type="button" value="ПРАКЛАСЦІ МАРШРУТ" class="btn">
        </div>
    </div>
    <div class="row clearfix chkbx">
        <input name="" type="checkbox" value="">
        <label>УСЁ</label>
        <input name="" type="checkbox" value="">
        <label>МАРШРУТЫ</label>
        <input name="" type="checkbox" value="">
        <label>ВЕЛАДАРОЖКІ</label>
        <input name="" type="checkbox" value="">
        <label>ПАРКОЎКІ</label>
        <input name="" type="checkbox" value="">
        <label>СЭРВІСЫ</label>
        <input name="" type="checkbox" value="">
        <label>ЕЖА І ПІТВО</label>
    </div>
</div>