<div class="mainHeader clearfix">
    <div class="col colA"><a href="http://www.34mag.net"></a></div>
    <div class="col colB"><a href="#"></a></div>
    <div class="col colC clearfix">
        <ul>
            <li><a href="#">МАРШРУТЫ</a></li>
            <li><a href="#">БЛОГ </a></li>
        </ul>
        <ul>
            <li><a href="#">ПРАЕКТ</a></li>
            <li><a href="#">ПАРТНЁРЫ </a></li>
        </ul>
    </div>
    <div class="col colD clearfix">
        <div class="panelA">
            <input name="" type="text" class="txt"><!-- --><input name="" type="button" value=" " class="btn">
        </div>
        <div class="panelB"> <a href="#" class="twi"></a><!--
  --><a href="#" class="facebook"></a><!--
  --><a href="#" class="vk"></a><!--
  --><a href="#" class="youtube"></a><!--
  --><a href="#" class="rss"></a> </div>
    </div>
</div>