<div class="sideCol">
    <div class="holder"> <img src="../static/pictures/_tmp2.png" width="290" height="351" alt=" "> </div>
    <div class="holder">
        <h4 class="head"><span>НАВІНЫ</span></h4>
        <div class="newsPane">
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Интервью с Клодом Мартале, велопутешественником из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container altColor">
                <p> <a href="#">Клод Мартале, велопутешественник из Швейцарии, который несколько дней гостил в Минске</a> </p>
            </div>
            <div class="container">
                <p> <a href="#">Первый фильм про зимнюю велосипедную культуру Минска <span>"Зіма на ровары"</span></a> </p>
            </div>
        </div>
    </div>
    <div class="holder"> <img src="../static/pictures/_tmp2.png" width="290" height="351" alt=" "> </div>
</div>